<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <title>book app</title>
  <%- include('../layout/head') %>
</head>
  <body>
    <%- include('../layout/header') %>
      <main>
        <h1>Books Length <%= books.length %></h1>
          <div id="mainWraper">
          <% books.forEach((book) => { %>
            <section class="bookSec">
              <%- include('./books/detail', { book }) %>
              <a class="btn btn-black" href="/books/<%= book.id %>">View details</a>
            </section>
          <% }); %>
            </div>
      </main>
    <%- include('../layout/footer') %>
  </body>
</html>
